<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>{{ title }}</h3>
    <p>
      De Feh Unit Tracker gaat over het mobiele spel "Fire Emblem Heroes". In het spel heb je 'units'. Dit
      zijn de karakters waarover je beschikt. De karakters verschillen van hun stats (hp, atk, spd, def en
      res). Ook kunnen er verschillen zitten in dezelfde unit. Een unit kan een zogehete 'boon' en 'bane'
      hebben waardoor ze net wat meer punten in een bepaalde stat hebben. Ook hebben de units verschillende
      skills. Deze skills hebben een slot, een level en wellicht een skill die ervoor komt (dezelfde skill een
      level lager).
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jay Hagendoorn</h5>
        <p class="card-text">
          Studentnummer: 2145910
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>username: string</li>
      <li>password: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>BaseUnit</p>
    <ul>
      <li>id: number</li>
      <li>name: string (Unit's naam)</li>
      <li>description: string (Unit's kleine beschrijving van 1 tot 4 woorden)</li>
      <li>portrait: File (Afbeelding van de unit)</li>
      <li>movementType: string (Geeft aan welk bewegingstype de unit heeft)</li>
      <li>weaponType: string (Geeft aan welk wapen de unit heeft)</li>
      <li>statHp: number</li>
      <li>statAtk: number</li>
      <li>statSpd: number</li>
      <li>statDef: number</li>
      <li>statRes: number</li>
      <li>superBoon: string (Boons geven 1 punt meer bij deze stats, kunnen meer stats zijn)</li>
      <li>superBane: string (Banes geven 1 punt minder bij deze stats, kunnen meer stats zijn)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Unit</p>
    <ul>
      <li>id: number</li>
      <li>baseUnitId: number (De unit waar deze op gebaseerd is qua stats, naam en portrait)</li>
      <li>userId: number</li>
      <li>
        boon: string (De verbeterde stat, stat krijgt 3 punten erbij. Kan neutraal zijn samen met de bane)
      </li>
      <li>
        bane: string (De verslechterde stat, stat verliest 3 punten. Kan neutraal zijn samen met de boon)
      </li>
      <li>
        favorite: number (Een unit kan als favoriet gemarkeerd worden, er zijn 8 verschillende soorten en kan
        null zijn)
      </li>
      <li>skillWeapon: number</li>
      <li>skillAssist: number</li>
      <li>skillSpecial: number</li>
      <li>skillA: number</li>
      <li>skillB: number</li>
      <li>skillC: number</li>
      <li>skillS: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Skill</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>description: string (Een beschrijving van wat een skill doet)</li>
      <li>logo: File (De afbeelding van de skill met een gekleurde rand om de level aan te tonen)</li>
      <li>
        slot: string (De plek wat de skill in beslag neemt. Kan een wapen, assist, special, A, B, C of S skill
        zijn)
      </li>
      <li>
        previousLevelId: number (Skills hebben verschillende levels. Een level 3 skill heeft als voorganger
        level 2 en level 1)
      </li>
      <li>
        restriction: string (Skills kunnen niet op alle types van een unit. Het kan bijvoorbeeld worden
        uitgesloten voor zwaarden, lansen en bijlen)
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
