<app-navbar [title]="title"></app-navbar>
<!--  -->
<main role="main" class="container">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <router-outlet></router-outlet>
</main>
